main{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

main > div{
    padding: .75rem 1.25rem;
    border-radius: .5rem;
}

.groupinfo-wrapper{
    display: flex;
    flex-direction: column;
    background: var(--grey-248);
}

.groupnm{
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: .6rem;
    margin-top: -.25rem;
    font-size: 1.8rem;
    font-weight: var(--bold);
}

#name-fix-btn{
    cursor: pointer;
    color: var(--grey-192);
    margin-left: .5rem;
    font-size: 1.35rem;
    transition-duration: .2s;
}

#name-fix-btn:hover{
    color: var(--grey-144);
}

#name-fix-input{
    width: 100%;
    padding: 0;
    background: none;
    border: none;
    border-bottom: 2px solid var(--grey-208);
    font-size: 1.8rem;
    font-weight: var(--bold);
    box-shadow: none;
    transition-duration: .2s;
    border-radius: 0;
}

#name-fix-input:focus{
    border-color: var(--black);
}

.groupinfo-list .title{
    padding-right: .4rem;
}

.groupinfo-list:nth-child(2){
    margin-bottom: .5rem;
    font-weight: var(--medium);
    font-size: 1.1rem;
}

.groupinfo-list:nth-child(2) > div:nth-child(2n):not(:last-child){
    margin-right: 1.25rem;
}

.groupinfo-list{
    display: flex;
    margin-bottom: .3rem;
}

.groupinfo-list:last-child > div:nth-child(3){
    margin-left: 1.25rem;
}

.nowrap{
    white-space: nowrap;
}

.box-title-small{
    font-weight: var(--bold);
    font-size: 1.5rem;
    margin-top: -.2rem;
}

#chart-block{
    position: relative;
}

#chart-score{
    position: absolute;
    top: 1.2rem;
    right: 1.05rem;
    padding: .2rem .6rem;
    border-radius: .25rem;
    background: var(--black);
    color: var(--white);
    font-size: 1.05rem;
    font-weight: var(--medium);
}

#chart-score:before{
    content: "";
    position: absolute;
    right: .55rem;
    bottom: -9px;
    width: 0;
    height: 0;
    border-top: 9px solid var(--black);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}

#canvas-container{
    position: relative;
    margin-top: .5rem;
    padding-right: .5rem;
    width: 100%;
    min-width: 0;
    height: 5rem;
}

#chart{
    position: absolute;
    top: 0;
}

.attend-table{
    width: 100%;
    margin-top: .75rem;
    margin-bottom: .25rem;
    background: var(--grey-208);
    overflow-x: auto;
    overscroll-behavior: none;
}

.attend-table::-webkit-scrollbar{
    width: 8px;
    height: 8px;
    padding-top: 2.75rem;
    background: var(--grey-240);
}


.attend-table::-webkit-scrollbar-thumb{
    background: var(--grey-160);
    background-clip: padding-box;
    border: 1.5px solid transparent;
    border-radius: 100px;
}

.attend-table-row, .attend-table-head{
    display: flex;
}

.attend-table-row > div, .attend-table-head > div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.9rem;
}

.attend-table-row{
    background: var(--white);
    width: fit-content;
}

.attend-table-row.selected{
    background: var(--grey-240);
}

.attend-table-row > div:first-child{
    position: sticky;
    left: 0;
    z-index: 2;
    width: 7rem;
    border-right: 1px solid var(--grey-112);
    border-bottom: 1px solid var(--grey-224);
    background: var(--white);
}

.attend-table-row.selected > div:first-child{
    font-weight: var(--medium);
    background: var(--grey-240);
}

.attend-table-row > div:not(:first-child){
    width: 5.5rem;
    border-right: 1px solid var(--grey-224);
    border-bottom: 1px solid var(--grey-224);
}

.attend-table-head{
    background: var(--grey-112);
    height: 2.1rem;
    min-width: fit-content;
}

.attend-table-head > div:first-child{
    background: var(--grey-112);
    width: 7rem;
    position: sticky;
    left: 0;
    z-index: 2;
}

.attend-table-head > div:not(:first-child){
    width: 5.5rem;
    /* min-width: 5.5rem; */
    font-weight: var(--bold);
    color: var(--white);
}

.attend-table-head a{
    color: var(--white);
    transition-duration: .2s;
}

.attend-table-head a:hover{
    color: var(--grey-224);
}

.ascore-info{
    font-size: .8rem;
    font-weight: var(--light);
    color: var(--grey-144);
}

.attend-norecord{
    margin-top: .5rem;
    padding: .25rem 1rem .75rem 1rem;
    text-align: center;
    color: var(--grey-144);
    filter: grayscale(1);
    background: var(--grey-248);
    word-break: keep-all;
}

.attend-norecord span{
    display: inline-block;
    font-size: 2.5rem;
    margin-bottom: .3rem;
}


.photo-wrapper{
    margin-top: .5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, auto));
    grid-template-rows: auto auto;
    gap: .5rem;
}

.photo-wrapper > div{
    padding-top: 56.25%;
    background: var(--grey-144);
}



@media screen and (max-width: 768px){
    #canvas-container{
        height: calc(100vw - 10rem);
        padding: 0;
    }

    #chart-block > span:not(:nth-last-child(2)){
        position: absolute;
        text-align: center;
        top: calc(50% - 1.75rem);
        left: 35%;
        right: 35%;
        font-weight: var(--medium);
        white-space: nowrap;
        /* font-size: 1.35rem; */
    }

    #chart-score{
        top: unset;
        bottom: calc(50% - 3rem);
        left: 35%;
        right: 35%;
        padding: 0;
        text-align: center;

        font-size: 1.75rem;
        font-weight: var(--bold);
        color: var(--black);
        background: none;
    }

    #chart-score:before{
        display: none;
    }
}