html {
    --subnavbar-height: 0rem;
}

.score-option-wrapper {
    display: grid;
    grid-template-columns: 3rem auto;
    border-radius: .5rem;
    gap: .5rem .8rem;
    max-width: 100%;
    padding: .4rem .8rem;
    margin-top: -.5rem;
    margin-bottom: 1rem;
}

.score-option-wrapper>div:nth-child(2n + 1) {
    display: flex;
    align-items: center;
    font-weight: var(--bold);
}

.bbs-tag {
    max-width: 13rem;
}

.bbs-file {
    max-width: 18rem;
}

.uploaded-name {
    max-width: 20rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: var(--medium);
}

.radio-wrapper {
    white-space: nowrap;
    margin-right: .75rem;
}

.diff-wrapper {
    position: relative;
    height: 1.7rem;
}

#score-diff {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    width: 6rem;
    height: 1.7rem;
    border: none;
}

#score-diff:focus {
    box-shadow: none;
}

#score-diff::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: .75rem;
    height: 1.8rem;
    /* border-radius: 0;
    background: var(--grey-80); */
    cursor: pointer;
    background: transparent;
    box-shadow: none;
}

#score-star {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    font-size: 1.2rem;
}

#score-diff-desc {
    /* display: flex;
    align-items: center; */
    position: absolute;
    top: 0;
    left: 6.6rem;
    height: 1.8rem;
    padding-top: .2rem;
    font-weight: var(--medium);
}

@media screen and (max-width: 1200px) {
    .radio-wrapper {
        margin-right: 1.75rem;
    }

    .radio-wrapper input {
        width: 14px;
        height: 14spx;
    }

    #score-star {
        top: -0.05rem;
    }
}